h1{
   font-family: cursive;
   text-align: center;
}

p{
    font-family: monospace;
    font-size: italic;
    font-weight: bold;
}

/* body{
    font-size: 20px;
}

#two{
    font-size: 1.0em;
} */
