<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
</head>
<body>
    <h1>The code can run on any operating systems</h1>
    <p>The bolod word is template variable <b>{{ index_var }}</b></p>

    <p>Added static files</p>
    <img src="{% static 'images/django_guiter.jpg' %}" alt="django-guiter">
    
</body>
</html>